
.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 1rem;
}
.parent .createContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  align-self: center;
  padding: 1.5rem;
}
.zitate {
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color:#121214;
  border-radius: 1rem;
}

.leftItem {
  border-left: 4px solid #8601ba;
}

.rightItem {
  border-right: 4px solid #b3d9ff;
}

:host ::ng-deep p-button button {
  width: 100%;
  padding: 0.5rem;
}

:host ::ng-deep .p-textarea:enabled:focus{
  border-color: #8601ba !important;
  box-shadow: none;
}

:host ::ng-deep .p-textarea:enabled:hover {
  border-color: #d684fd;
}

:host ::ng-deep .p-select.p-focus {
  border-color: #8601ba !important;
  box-shadow: none !important;
}


:host ::ng-deep .p-select:not(.p-disabled):hover{
  border-color: #d684fd;
}

:host ::ng-deep .p-select-option.p-select-option-selected.p-focus{
  background-color: rgba(134, 1, 186, 0.54) !important;
}

:host ::ng-deep .p-button {
  background-color: #8601ba !important;
  color: var(--color-white);
  border: none;
}

:host ::ng-deep .p-button:not(:disabled):hover {
  background-color: #d684fd !important;
  color: var(--color-white);
  border: none;
}
