<div class="parent">
  <div class="div1">
    <p-toast key="toestZitateErstellen" position="bottom-right">...</p-toast>
  </div>
  <div class="div6">
    <div class="input-row"><input id="neuesZitatInput" type="text" [(ngModel)]="zitat().zitateName" pInputText placeholder="Erstelle Zitat..." class="input-flex"/>
      <span class="pi pi-arrow-right input-action" (click)="ErstelleZitat()"></span>
    </div>
  </div>
  <div class="div14">
    <div class="topZitate">
      <div class="text-center">Top Zitate 🔥</div>
      <div class="table-center">
        <p-table [value]="[{}]" class="no-border small-text ">
          <ng-template pTemplate="header">
            <tr>
              <th>Platz</th>
              <th>Zitat</th>
              <th>Anzahl Likes</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr>
              <td>1</td>
              <td>Tim</td>
              <td>100</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Leo</td>
              <td>67</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Elias</td>
              <td>40</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="topZitate">
      <div class="text-center">Am meisten Zitate 📈</div>
      <div class="table-center">
        <p-table [value]="[{}]" class="no-border small-text ">
          <ng-template pTemplate="header">
            <tr>
              <th>Platz</th>
              <th>Person</th>
              <th>Anzahl Zitate</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr>
              <td>1</td>
              <td>Tim</td>
              <td>12</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Leo</td>
              <td>5</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Elias</td>
              <td>1</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="div17">
    @for (zitatee of aktuelleZitate(); track zitatee.id) {
      @if (zitatee.id % 2 == 1) {
        <div class="container">
          <img src="https://www.cottodeste.de/media/immagini/185_n_COTTODESTE-BLACK-WHITE-black-minimale.jpg"
               alt="Avatar">
          <p>{{ zitatee.zitateName }}</p>
        </div>
      } @else {
        <div class="container">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpmre00kIXDPXoBBVEin-Iqzwpyq6HLtxxog&s"
               alt="Avatar" class="right">
          <p>{{ zitatee.zitateName }}</p>
        </div>
      }
    }
  </div>
</div>
