.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;

}
.innererContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

:host ::ng-deep .p-button {
  background-color: #8601ba !important;
  color: var(--color-white);
  border: none;
  width: 100%;
}

:host ::ng-deep .p-button:not(:disabled):hover {
  background-color: #d684fd !important;
  color: var(--color-white);
  border: none;
}


h2 {
  color: #d684fd;
}
