@import "tailwindcss";
@import "primeicons/primeicons.css";


body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sidenav ul {
  height: 100%;
}
.sidenav.p-menu {
  border: none;
  padding: 0.5em;
  border-radius: 0.7em;
}
.p-menu-item-content{
  padding: 0.1em;
}
